<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot ajax example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="css/bootstrap/bootstrap.css" rel="stylesheet"/>
    <link href="css/venue/venues.css" rel="stylesheet"/>
    <link href="css/venue/addVenue.css" rel="stylesheet"/>
    <link href="css/venue/singleVenue.css" rel="stylesheet"/>
    <link href="css/event/events.css" rel="stylesheet"/>
    <link href="css/event/addEvent.css" rel="stylesheet"/>
    <link href="css/home/home.css" rel="stylesheet"/>
    <link href="css/font-awesome/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/bootstrap/open-iconic-bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand nav-header" href="#">PathBuilder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul id="navbar_list" class="navbar-nav ml-auto">
            </ul>
        </div>
    </div>
</nav>
<div class="container margin-top-70">
    <div id="main_content">

    </div>
</div>
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center footer-text">Copyright &copy; PathBuilder 2018</p>
    </div>
</footer>

<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="js/moment/moment.min.js"></script>
<script type="text/javascript" src="js/popper/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="js/pagination/jquery.twbsPagination.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/home/home.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/auth/login.js"></script>
<script type="text/javascript" src="js/auth/signup.js"></script>
<script type="text/javascript" src="js/navbar.js"></script>
<script type="text/javascript" src="js/venue/venues.js"></script>
<script type="text/javascript" src="js/venue/addVenue.js"></script>
<script type="text/javascript" src="js/venue/singleVenue.js"></script>
<script type="text/javascript" src="js/event/events.js"></script>
<script type="text/javascript" src="js/event/addEvent.js"></script>
<script type="text/javascript" src="js/user/userAccount.js"></script>
<script type="text/javascript"
        src="https://maps.google.com/maps/api/js?key=AIzaSyBncTV9k7Ye-xubjXXXF7efxsI9elg2RgA&libraries=places"></script>
</body>
</html>