<div class="container">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">
            <button id="list"  type='button' class="btn btn-default link"><i class="fa fa-th-list">
            </i> List</button> <button id="grid" type='button'class="btn btn-default link"><i class="fa fa-th" aria-hidden="true"></i> Grid</button>
        </div>
        <button id="addEvent" type="button" class="btn btn-default link hidden"><i class="fa fa-plus">
        </i> Add Event
        </button>
    </div>
    <div id="products" class="row">

    </div>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul id="pagination-demo" class="pagination-sm"></ul>
                </div>
            </div>
        </div>
    </div>
</div>