<div class="row justify-content-center align-self-center">
    <div class="col-md-6">
        <form id="form_login" novalidate="novalidate">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="card-title m-0">
                            <i class="fa fa-lock mr-1"></i>LOGIN
                        </h5>
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            <label for="login_email">Email address</label>
                            <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                <input type="email" id="login_email" name="login_email" class="form-control"
                                       placeholder="Enter email"/>
                            </div>
                            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="login_password">Password</label>
                            <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-unlock-alt"></i>
                                        </span>
                                <input type="password" id="login_password" name="login_password" class="form-control"
                                       placeholder="Password"/>
                            </div>
                        </div>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" id="login_remember" class="custom-control-input"/>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Remember me</span>
                        </label>
                    </li>
                    <li class="list-group-item">
                        <button in="btn-login" type="submit" class="btn btn-primary">SIGN-IN</button>
                        <button id="btn-singUp" type="button" class="btn">SIGN-UP</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>