<div id="singleVenueContainer" class="container">
    <div class="item list-group-item">
        <div class="card list-group-item">
            <img id="single-venue-image" class="group list-group-image" src="http://placehold.it/400x250/000/fff">
            <div class="caption">
                <h4 id="venue_title" class="group inner list-group-item-heading"></h4>
                <p class="group inner list-group-item-text">
                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,sed diam nonummy
                    nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div id="venueRating" class="lead">Rating</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="venueEvents" class="row">

    </div>
    <div id="pagination-block" class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul id="pagination-demo" class="pagination-sm"></ul>
                </div>
            </div>
        </div>
    </div>
    <div id="venueReviews">

    </div>
</div>
