<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header"><h4>User Profile</h4></div>
            <div class="card-body row">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <img alt="User Pic"
                         src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                         id="profile-image1" class="rounded-circle img-fluid">


                </div>
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                    <div class="container">
                        <h3 id="user-acc-username-label"></h3>
                        <p>a  <span id="user-acc-role-label"></span></p>


                    </div>
                    <hr>
                    <ul class="container details">
                        <li><p><i class="fa fa-envelope" aria-hidden="true"></i><span id="user-acc-email-label">  </span>
                        </p></li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>